$body-background-color: #E5D9B6;
$sidebar-color: #E5D9B6;
$border-color: #5F8D4E;

// $body-text-color: $grey-lt-300;
// $body-heading-color: $grey-lt-000;
// $nav-child-link-color: $grey-dk-000;
// $search-result-preview-color: $grey-dk-000;

$link-color: #285430;
$btn-primary-color: #A4BE7B;
$base-button-color: #A4BE7B;

$code-background-color: #A4BE7B;
$search-background-color: #A4BE7B;
$table-background-color: #A4BE7B;
$feedback-color: darken($sidebar-color, 3%);
