$body-background-color: #fffefe;
$sidebar-color: #1f2531;
$border-color: #1f2531;

// $body-text-color: $grey-lt-300;
// $body-heading-color: $grey-lt-000;
// $nav-child-link-color: $grey-dk-000;
// $search-result-preview-color: $grey-dk-000;

$link-color: #99c295;
$btn-primary-color: #f5f5f9;
$base-button-color: #f5f5f9;

$code-background-color: #f5f5f9;
$search-background-color: #f5f5f9;
$table-background-color: #f5f5f9;
$feedback-color: darken($sidebar-color, 3%);
